<floating-menu  > </floating-menu>
<div  > 
    <div class="CTitle">
            Data Analysis
        </div>
    <div class="panel panel-default">
        <div class="panel-heading ">
            <i class="fa fa-dashboard"> </i> Dashboard
        </div>
        <div class="panel-body">

            <highchart id="Highchart1" config="LineChartNG"></highchart>
            <div class="hr hr32 hr-dotted"></div>
            <highchart id="Highchart2" config="highchartsNG"></highchart>
            <div class="hr hr32 hr-dotted"></div>
            <highchart id="Highchart3" config="piechart"></highchart>
        </div>
    </div>        
</div>
