<ul class="mfb-component--br mfb-zoomin">
    <li class="mfb-component__wrap">
    <a href="#" data-mfb-label="Quick Menu" class="mfb-component__button--main">
        <i class="mfb-component__main-icon--resting ion-navicon-round"></i>
        <i class="mfb-component__main-icon--active ion-navicon"></i>
    </a>     
    <ul class="mfb-component__list">
      
        <li>
            <a href="#/" data-mfb-label="Data Analysis" class="mfb-component__button--child">
              <i class="mfb-component__child-icon ion-stats-bars"></i>
            </a>
          </li>
          <li>
            <a href="#/todayWeather" data-mfb-label="Today's Weather" class="mfb-component__button--child">
              <i class="mfb-component__child-icon ion-information-circled"></i>
            </a>
          </li>

          
    </ul>        
    </li>
</ul>