<div class="panel panel-default">
      	<div class="panel-heading">
			<label class="label label-primary" >Today's Weather </label>            
      	</div>
      	<div class="panel-body">
	        <div class="row">
	        
	            <article   class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable" >                      
	                <div   id="wid-id-1" ng-class="DDL.Is_Today ? 'jarviswidget jarviswidget-color-red jarviswidget-sortable': 'jarviswidget jarviswidget-color-pink jarviswidget-sortable'"  >
	                    <header role="heading"><div class="jarviswidget-ctrls" role="menu">   </div>
	                    <span class="widget-icon">  <i class="ion-ios7-calendar-outline"></i>  </span>
	                    <h2> </h2>
	                 
	                    </header>
	   
	                    <!-- widget div-->
	                    <div role="content">
	                        <!-- widget content -->
			                <div class="widget-body no-padding"> 
	                            <div   >
	                              
	                        
	                           
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </article>
	                
			

	                
	      	</div>
		</div>

</div>