<!DOCTYPE html>
<html ng-app="Sample">
<title>Sample Project</title>
<head> </head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" type="text/css"   href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.
css"/>
<link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css">
<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production-plugins.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-skins.min.css">

<!-- SmartAdmin RTL Support  -->
<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.min.css">

<link href="css/main_style.css" rel="stylesheet">
<body ng-controller="MainCtrl">

<!-- Right floating Menu-->
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
<link href="css/mfb.css" rel="stylesheet" />

<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" data-header-menu="" >
            <ul class="sidebar-nav">
                <li>
                    <a class="Analysis" href="#/" >Data Analysis</a>
                </li>
                <li>
                    <a class="todayWeather" href="#/todayWeather">Today's Weather</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
           <div ng-view ></div>
        </div>
        <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->



<script src="js/bower_components/jquery/dist/jquery.min.js"></script>
<script src="js/bower_components/angular/angular.js"></script>
<script src="js/bower_components/bootstrap/dist/js/bootstrap.js"></script>

<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js" > </script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js"></script>

<script src="js/bower_components/highcharts/highcharts.js"></script>
<script src="js/bower_components/highcharts/highcharts-more.js"></script>
<script src="js/bower_components/highcharts/modules/exporting.js"></script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script type="text/javascript" src="http://code.highcharts.com/modules/drilldown.js"></script>   

<script type="text/javascript" src="js/modified/highcharts-ng.js"></script>


<!--Only Run at no http potocal-->
<script type="text/ng-template" id="template/dataAnalysis.html">
<floating-menu  > </floating-menu>
<div  > 
    <div class="CTitle">
            Data Analysis
        </div>
    <div class="panel panel-default">
        <div class="panel-heading ">
            <i class="fa fa-dashboard"> </i> Dashboard
        </div>
        <div class="panel-body">

            <highchart id="Highchart1" config="LineChartNG"></highchart>
            <div class="hr hr32 hr-dotted"></div>
            <highchart id="Highchart2" config="highchartsNG"></highchart>
            <div class="hr hr32 hr-dotted"></div>
            <highchart id="Highchart3" config="piechart"></highchart>
        </div>
    </div>        
</div>

</script>

<script type="text/ng-template" id="template/todayWeather.html">

<floating-menu  list="menu_list" > </floating-menu>
<load-ing    my-count="loadstatus" ></load-ing>
            


<div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-6">    
                    <form class="form-inline">
                        <div class="form-group">
                            <a  class="btn btn-danger"  ng-click="Query()">  Search </a>
                            <label class="label label-primary" for="City" >City:  </label>  
                            <input class="form-control"    name="City" id="City" ng-model="City"  >
                        </div>     
                    </form>                        
                </article>
                <article class="col-sm-12 col-md-12 col-lg-6">    
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="label label-primary" for="Country" >Country:  </label>  
                            <input class="form-control"    name="Country" id="Country" ng-model="Country"  >
                        </div>    
                    </form>
                </article>


            </div>
            
            
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="alert alert-danger" ng-show="Info.message" >
                                                <i class="fa-fw fa fa-info"></i>
                                    <strong>{{Info.message}} </strong>   
                </div>
                <article   class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable" >                      
                    <div   id="wid-id-1" class="jarviswidget jarviswidget-color-pink jarviswidget-sortable"  >
                        <header role="heading"><div class="jarviswidget-ctrls" role="menu">   </div>
                        <span class="widget-icon">  <i class="fa fa-cloud"> </i> </span>
                        <h2> Today's Weather  </h2>
                     
                        </header>
       
                        <!-- widget div-->
                        <div role="content">
                            <!-- widget content -->
                            <div class="widget-body no-padding"> 
                                
                                                           
                                <div>

                                    <div class="infobox-small" ng-show="Info.main">
                                        
                                            <span ng-class="Weather_icon"  > </span>
                                                                               
                                    </div>    
                                    <div class="infobox infobox-blue" ng-repeat="Weather in Info.weather">
                                        <div class="infobox-data">
                                            <span class="infobox-content">{{Weather.main}}</span>
                                            <div class="infobox-text">{{Weather.description}}</div>
                                        </div>                                            
                                    </div>     
                                        
                                    
                                   
                                    
                                </div>
                                <div>
                                    <label class="label label-danger" ng-show="Info.main" > Temperature: {{Info.main.temp_min  | number}} &deg;C   ~  {{Info.main.temp_max | number}} &deg;C</label>
                                    <label class="label label-primary"  ng-show="Info.main" > Humidity:  {{Info.main.humidity}}  %</label>
                                </div>
                                

                            </div>
                        </div>
                    </div>
                </article>
                    
            

                    
            </div>
        </div>

</div>            
</script>


<!--Loading Template-->
<script type="text/ng-template" id="template/loading.html">
<div  ng-show="counting ==0? false :true"   class="{{ counting ==0?  'animated fadeInDown' : '' }}" id="myDiv" style=" position:absolute; background-color: white; width:100%;  height: 100%; filter:alpha(opacity=50);z-index:100000; opacity:0.4;text-align:center;" >
        
            <img src="img/Loading4.GIF" />
       
</div>

</script>

<!--ngfloatingmenu -->
<script type="text/ng-template" id="template/ngfloatingmenu.html">
<ul class="mfb-component--tr mfb-zoomin">
    <li class="mfb-component__wrap">
    <a href="#" data-mfb-label="Quick Menu" class="mfb-component__button--main">
        <i class="mfb-component__main-icon--resting ion-navicon-round"></i>
        <i class="mfb-component__main-icon--active ion-navicon"></i>
    </a>     
    <ul class="mfb-component__list">
      
        <li>
            <a href="#/" data-mfb-label="Data Analysis" class="mfb-component__button--child">
              <i class="mfb-component__child-icon ion-stats-bars"></i>
            </a>
          </li>
          <li>
            <a href="#/todayWeather" data-mfb-label="Today's Weather" class="mfb-component__button--child">
              <i class="mfb-component__child-icon ion-information-circled"></i>
            </a>
          </li>

          
    </ul>        
    </li>
</ul>

</script>

<!-- Directive -->
<script src="js/directive/directive.js"></script>
<script src="js/directive/ngfloatingmenu.js"></script>
<!--Factory-->
<script src="js/factory/factory.js"></script>
<!--Routing Controller-->

<script src="js/main_app.js"></script>

<!--Sub Page Controller -->
<script src="js/controllers/dataAnalysisController.js"></script>
<script src="js/controllers/todayWeatherController.js"></script>


</body>
</html>